*{
    margin:0;
    padding:0;
}
.header{
    background-image: url(background.png);
    background-repeat: no-repeat;
    height:100vh;
    background-size: cover;
    position: relative;
}
.header-line{
    display:flex;
}
.header-buttons{
    position: absolute;
    margin-left:40%;
    margin-top:28px;
}
.button-main{
    margin-right:30px;
    text-decoration: none;
    color:#fff;
    font-family: "IBM Plex Mono", monospace;
    font-size:13px; 
    font-weight:400px;
}
.logo{
    margin-top:28px;
    margin-left:28px;
}
.buy-now{
    position:absolute;right:10px;top:25px;
}
.button-buy{
    text-decoration: none;
    color:#fff;
    padding:5px 15px;
    background-color: #9400FF;
    font-family: "IBM Plex Mono", monospace;
    font-size:13px; 
    font-weight:400px;
    border-radius: 20px;
    transition: background-color 0.3s;
}
.button-buy:hover{
    background-color:#6802b1;
}
.header-text{
    color:#fff;
    margin-left:100px;
    margin-top: 150px;
}
.title{
    font-family: "Manrope", sans-serif;
    font-size:16px;
    font-weight:400px;
}
.text{
    font-size:48px;
    font-family: "Manrope", sans-serif;
    font-weight:400px;
}
.buy-15{
    font-family: "IBM Plex Mono", monospace;
    font-size:13px; 
    font-weight:400px;
    padding:15px 40px;
    background-color: #9400FF;
    border-radius: 20px;
    text-decoration: none;
    color:#fff;
    font-family: "IBM Plex Mono", monospace;    
    transition: background-color 0.3s;
}
.buy-15:hover{
    background-color:#6802b1;
}
.text-but
ton{
    margin-top:80px;
}
.themes{
    display: flex;
    position: relative;
    color:#fff;
    font-weight:400px;
    margin-left:100px;
    margin-top:150px;
}
.theme-1{
    margin-right:100px;
}
.title-1{
    font-size:25px;
    margin-bottom:10px;
}
.text-1{
    font-family: "Manrope", sans-serif;
    font-weight:400px;
}
.theme-2{
    margin-right:100px;
}
.title-2{
    font-size:25px;
    margin-bottom:10px;
}
.text-2{
    font-family: "Manrope", sans-serif;
    font-weight:400px;
}
.theme-3{
    margin-right:100px;
}
.title-3{
    font-size:25px;
    margin-bottom:10px;
}
.text-3{
    font-family: "Manrope", sans-serif;
    font-weight:400px;
}
.unique-icons{
    background-image: url(backBlack.png);
    color:#fff;
    position: relative;
}
.phone{
    text-align: right;
    margin-right:150px;
}
.icon-phone{
    display: inline-block;
}
.phone-text{
    position: absolute;
    margin-left: 140px;
    margin-top:300px;
}
.icon-title{
    font-size:48px;
    font-weight:400px;
    font-family: "Manrope", sans-serif;
}
.icon-text{
    font-size:16px;
    font-weight:400px;
    font-family: "Manrope", sans-serif;
}
.icon-button{
    margin-top:60px;
}
.phone-button{
    text-decoration: none;
    color:#fff;
    padding:15px 40px;
    background-color:#9400FF;
    border-radius: 20px;
    transition: background-color 0.3s;
}
.phone-button:hover{
    background-color:#6802b1;
}
.icons-3D{
    background-color: #000;
    color:#fff;
    text-align: center;
}
.title-3D{
    font-size:29px;
    font-weight:400px;
    font-family: "Manrope", sans-serif;
}
.big-ready{
    background-color:#000;
}
.big-icons{
    text-align: center;
}
.big-title{
    text-align: center;
    color:#fff;
    font-family: "Manrope", sans-serif;
    font-size:29px;
}
.pros{
    color:#fff;
    margin-left:20%;
    
}
.titles{
    display:flex;
}
.pros-title{
    margin-right:150px;
    color:#999999;
}
.pros-text-1{
    width:20px;
    margin-top:50px;
}
.request{
    background-color:#000;
    color:#fff;
    display: flex;
}
.request-dog{
    margin-left:250px;
}
.request-container{
    position: relative;
    font-family: "Manrope", sans-serif;
    font-weight:400px;
    margin-left:150px;
}
.request-title{
    font-size:29px;
    margin-bottom:50px;
}
.request-text{
    color:#EBEBEB;
    font-size:16px;
}
.request-button{
    margin-top:50px;
}
.in-touch{
    text-decoration: none;
    color:#fff;
    padding:15px 40px;
    background-color:#9400FF;
    border-radius: 120px;
    transition: background-color 0.3s;
}
.in-touch:hover{
    background-color:#6802b1;
}
.pack{
    background-image: url(back-apps.png);
    background-repeat: no-repeat;
    height:60vh;
    background-size: cover;
    position: relative;
    font-family: "Manrope", sans-serif;
    font-weight:400px;
}
.pack-container{
    text-align: center;
    color:#fff;
    position:absolute;
    margin-left:600px;
    margin-top:200px;
}
.pack-title{
    font-size:51px;
    margin-bottom:40px;
}
.pack-text{
    font-size:18px;
}
.pack-button{
    margin-top:50px;
}
.pack-buy{
    color:#fff;
    text-decoration: none;
    padding:20px 40px;
    background-color: #9400FF;
    transition: backfround-color 0.3s;
    border-radius: 60px;
}
.pack-buy:hover{
    background-color:#6802b1;
}
.footer{
    background-color:#000;
    height:30vh;
    position: relative;
}
.footer-container{
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-weight:400px;
    color:#fff;
}
.logo-footer{
    margin-top:100px;
}
.footer-text{
    margin-top:30px;
    font-size:16px;
}
.tg{
    color:#9400FF;
}
.footer-data{
    margin-top:50px;
    font-size:11px;
}
